<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright 2021 Nicholas Hochstetler
   ~ You may not use this file except in compliance with the Apache License
   ~ Version 2.0, obtainable at http://www.apache.org/licenses/LICENSE-2.0
   ~ or in the file LICENSE in the project's root directory. -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cliffracertech.bootycrate">
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name="com.cliffracertech.bootycrate.BootyCrateApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/LightTheme" >

        <activity
            android:name="com.cliffracertech.bootycrate.activity.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="standard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.cliffracertech.bootycrate.fragment.UpdateListReminder$SendNotificationReceiver" />

        <receiver android:name="com.cliffracertech.bootycrate.fragment.UpdateListReminder$AlarmsNeedResetReceiver"
            android:enabled="true"
            android:directBootAware="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>