<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright 2020 Nicholas Hochstetler
  ~  You may not use this file except in compliance with the Apache License
  ~  Version 2.0, obtainable at http://www.apache.org/licenses/LICENSE-2.0
  ~  or in the file LICENSE in the project's root directory. -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cliffracermerchant.bootycrate">

    <application
        android:name=".BootyCrateApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/LightTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".GradientStyledMainActivity"
            android:label="@string/app_name"
            android:launchMode="standard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>